*{
    border: 0px;
    margin: 0px;
    padding: 0px;
}

header {
    width: 100%;
    height: 350px;
    text-align: center;
    background-color: rgba(98, 86, 136, 0.4);
}

header .contenedor {
    height: 100%;
}

header .ul{

}

header .ul .il{

}

header .ul .il .a{

}

